/* Landing light color and images background */
.east_bay {
	background-color: #546278;
}

/* Dark and Light Blue */
.tangaroa {
	background-color: #161F32; 
}

.midnight {
	background-color: #222C40;
}

/* Input, buttons*/
.astronaut {
	background-color: #3D506F;
}

/*Headings*/

.astro {
	color: #3D506F;
}