.blog-head {
	padding: 67px 200px;
	font-family: 'Lato';
	color: #7f90a5;
}

.blog-head h2 {
	font-size: 30px;
	font-weight: 400;
	color: #3d506f;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 24px;
}

.blog-head h3 {
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 24px;
}

.separator {
	position: relative;
	height: 1px;
	margin-bottom: 25px;
}

.sep-trans:before {
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.sep-trans:after {
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 16px;
	height: 16px;
	background-color: #fff;
	border: 1px solid rgb(48,49,51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px white, 0 0 0 4px white;
}

.blog-head p {
	font-size: 15px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 69px;
}


/*--Blog--*/

.blog-body {
	background-color: #fff;
	font-weight: 400;
	font-family: "Lato";
	color: #fff;
}

.blog-item img {
	display: inline-block;
	float: left;
	box-sizing: border-box;
}

.blog-item .blog-content {
	width: 100%;
}

.blog-item img + .blog-content {
	width: 50%;
}

.blog-content {
	background-color: #161f32;
	width: 100%;
	height: 300px;
	overflow: hidden;
	padding: 25px 28px;
	margin-bottom: 30px;
}

.blog-item h3 {
	font-size: 25px;
}

.blog-item h4 {
	font-size: 15px;
}

.blog-item p {
	font-size: 15px;
	color: #7f90a5;
}



