#portfolio [id^="item"] {
	width: 270px;
	height: 200px;
	margin: 20px auto;
	background: #546278;
	background-size: cover;
	background-position: center;
	cursor: pointer;
}

#portfolio [id^="item"]:hover {
	opacity: 50%;
}

#portfolio [id^="item"] img {
	width: 100%;
}

#portfolio #item1 {
	background-image: url('../../img/portfolio/web1.jpg');
}

#portfolio #item2 {
	background-image: url('../../img/portfolio/web2.jpg');
}

#portfolio #item3 {
	background-image: url('../../img/portfolio/web3.jpg');
}

#portfolio #item4 {
	background-image: url('../../img/portfolio/web4.jpg');
}

#portfolio #item5 {
	background-image: url('../../img/portfolio/photo1.jpg');
}

#portfolio #item6 {
	background-image: url('../../img/portfolio/photo2.jpg');
}

#portfolio #item7 {
	background-image: url('../../img/portfolio/design1.jpg');
}

#portfolio #item8{
	background-image: url('../../img/portfolio/design2.jpg');
}

/*Expand section*/
#portfolio > .expand #expand-item {
	max-width: 568px;
	max-height: 420px;
	background: #546278;
	margin: 20px auto;
}

#portfolio > .expand #expand-item img {
	width: 100%;
	max-height: 420px;
}

#portfolio > .expand span {
	float: left;
	padding-right: 5px;	
}